@charset "UTF-8";
/*COLORS*/
/*shadows cards "accueil"

/*BOX SHADOWS*/
/*@use "../utils/variables" as *;*/
/*element position*/
/* icone heart : formatting*/
/*icone heart animation*/
/*@mixin heart-animation(){
    opacity: 0;

    &:hover{
        opacity: 1;
        background: linear-gradient($color-primary, $color-secondary);
        transition: all 0,5s linear 0s;
    }
}*/
/* icone validation : formatting*/
/*LOGO "ohmyfood"*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*ajouter l'icone fleche? ou bien le lien des menus?*/
}

header img {
  width: 160px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6em;
  color: #353535;
  height: 50px;
  width: 100%;
  margin-bottom: 0.4em;
  padding-left: 1em;
}

header a i {
  /*a revoir*/
  height: 10px;
  margin-right: 20%;
  font-size: 20px;
}

/* ajout des media queries à faire*/
/*@use "../utils/" as *;*/
footer {
  background-color: #353535;
  color: white;
  padding: 2em 1.5em 1em 1.5em;
  /* title"ohmyfood"*/
  /*icone  dimension*/
}

footer li {
  font-family: Shrikhand;
  margin-bottom: 1em;
  font-size: 1.2em;
  /*link position*/
}

footer li a {
  margin-bottom: 0;
  /*ne fonctionne pas!*/
}

footer li a:hover {
  color: #058a69;
}

footer i {
  font-size: 12px;
  margin-right: 0.7em;
  width: 12px;
}

/*Reset CSS*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

/*TITLES*/
h1 {
  font-size: 1.55em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 1.5em 0 1em 1em;
}

h3 {
  font-size: 1.1em;
  font-weight: 600;
}

p {
  font-weight: 300;
}

/*@use "../utils/" as *;*/
/*---------LOCALISATION PART---------*/
#localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row nowrap;
      -ms-flex-positive: row nowrap;
          flex-grow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  -webkit-box-shadow: inset #7e7e7e 0px 4px 4px -3px;
          box-shadow: inset #7e7e7e 0px 4px 4px -3px;
  /*width: 100%;*/
  /*provoque debordement*/
  height: 3em;
}

#localisation i {
  padding-left: 3em;
}

#localisation input {
  background-color: #eaeaea;
  border: none;
  padding-left: 1em;
  font-weight: bold;
}

/*---------INFORMATION PART---------*/
#information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: column nowrap;
      -ms-flex-positive: column nowrap;
          flex-grow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*trouver pourquoi $direction ne fctionne pas*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding: 1em 2.5em 0.5em 2.5em;
}

#information h1 {
  text-align: center;
  margin: 1em 0 0.5em 0;
  font-weight: bold;
}

#information p {
  text-align: center;
  margin-bottom: 1em;
  color: #353535;
  font-size: 17px;
}

/*---------BOX OPERATION + BOX RESTAURANTS---------*/
#operation-cards, #restaurants-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row wrap;
      -ms-flex-positive: row wrap;
          flex-grow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*même pb que pour $direction plus haut*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1.5em;
}

#purple {
  /*icone store in purple*/
  color: #9356DC;
}

#restaurants-box {
  background-color: #f6f6f6;
  padding-top: 0.5em;
  padding-bottom: 2em;
  margin: 2em 0 0 0;
}

/* @use  "../utils/variables" as *;à rajouter*/
/*BUTTON  (class for page "accueil" and <button> for page"menu") */
.button, button {
  position: relative;
  height: 50px;
  margin: 1em 0 3em 0;
  padding: 0 1.1em;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 2em;
  -webkit-box-shadow: #7e7e7e 3px 3px 10px;
          box-shadow: #7e7e7e 3px 3px 10px;
  /*à revoir avec gris plus clair(D +Bas + diffus)*/
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row nowrap;
      -ms-flex-positive: row nowrap;
          flex-grow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*texte à redimensionner (font-size ne marche pas)*/
}

.button:hover, button:hover {
  /*button lighter with larger shadow*/
  background: -webkit-gradient(linear, left top, left bottom, from(#fd8ce9), to(#b487eb));
  background: linear-gradient(#fd8ce9, #b487eb);
  -webkit-box-shadow: #eaeaea 0 3px 3px 15px;
          box-shadow: #eaeaea 0 3px 3px 15px;
  /*à revoir*/
  -webkit-transition: -webkit-box-shadow ease-in-out 1s;
  transition: -webkit-box-shadow ease-in-out 1s;
  transition: box-shadow ease-in-out 1s;
  transition: box-shadow ease-in-out 1s, -webkit-box-shadow ease-in-out 1s;
  color: white;
}

/*adaptation BUTTON (page menu)*/
button {
  margin: 1.5em 0 2.7em 0;
  padding: 0 3em;
}

/*@use "../utils/" as *;*/
/*@use "../components/" as *;*/
.restaurant--image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /*height: 220px;*/
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__text {
  /*(TITLE + ICONE HEART)  + ALL BOXES */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row nowrap;
      -ms-flex-positive: row nowrap;
          flex-grow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  position: relative;
  border-radius: 50px 50px 0 0;
  margin-top: -25px;
  padding: 1em;
  width: 100%;
  height: 100%;
  /*utile?*/
}

.restaurant__text--title {
  /*tITLE resto + iCONE HEART*/
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 78% 22%;
      grid-template-columns: 78% 22%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant__text--title h1 {
  justify-self: flex-start;
  font-family: Shrikhand;
  font-weight: 500;
  font-size: 28px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.restaurant__text--title i {
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  /*vertical align*/
  font-size: 24px;
  margin-right: 0.5em;
  color: #7e7e7e;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

/*ENTREES*/
section {
  /*BOX ENTREES" ou DISHES ou DESSERT */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row nowrap;
      -ms-flex-positive: row nowrap;
          flex-grow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 1em 0 0.5em 0;
  /*à verifier*/
  background-color: #f6f6f6;
}

section h2 {
  /*BOX TITLE*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -ms-flex-item-align: start;
      align-self: start;
  /*à verifier*/
  color: #353535;
  font-size: 16px;
  font-weight: normal;
}

section hr {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 40px;
  height: 5px;
  margin-bottom: 1em;
  border: none;
  border-bottom: 3px solid #99E2D0;
}

/* @use  "../utils/variables" as *;à rajouter*/
/*--------- CARDS (page : "accueil")---------*/
.operation__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row nowrap;
      -ms-flex-positive: row nowrap;
          flex-grow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 1.5em 0.5em 1em 0.5em;
  margin-bottom: 1.5em;
  font-weight: bold;
  background-color: #f6f6f6;
  border-radius: 1.2em;
  -webkit-box-shadow: #c9c7c7 3px 3px 10px;
          box-shadow: #c9c7c7 3px 3px 10px;
}

.operation__card--number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row nowrap;
      -ms-flex-positive: row nowrap;
          flex-grow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1.5em 0 -1.5em;
  background-color: #9356DC;
  border-radius: 20px;
  color: white;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  font-weight: normal;
}

.operation__card i {
  /*icone in a circle*/
  margin-right: 1em;
  color: #7e7e7e;
  font-size: 18px;
}

.operation__card #icone-mobile {
  font-size: 19px;
}

.restaurant__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row nowrap;
      -ms-flex-positive: row nowrap;
          flex-grow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  -webkit-box-shadow: #c9c7c7 3px 3px 10px;
          box-shadow: #c9c7c7 3px 3px 10px;
}

.restaurant__card img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row nowrap;
      -ms-flex-positive: row nowrap;
          flex-grow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 170px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.restaurant__card--text {
  display: -ms-grid;
  display: grid;
  width: 100%;
  padding: 0.9em 0.9em 0 0.9em;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  /*2l et 2c*/
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.restaurant__card h4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  /*first column*/
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  /*first line*/
  padding-bottom: 0.5em;
  font-weight: bold;
  font-size: 17px;
}

.restaurant__card p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  /*first column*/
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  /*second line*/
}

.restaurant__card i {
  /*icone heart*/
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  /*second column */
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  /* first line*/
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  /*vertical align*/
  font-size: 24px;
  margin-right: 0.5em;
  color: #7e7e7e;
}

.new {
  /*box "nouveau" on image*/
  position: absolute;
  top: 1.2em;
  right: 1.2em;
  background-color: #99E2D0;
  color: #058a69;
  padding: 0.5em 0.8em;
  font-weight: bold;
  font-size: 0.85em;
}

/* @use  "../utils/variables" as *;à rajouter*/
/*--------- CARDS (page "menu") ---------*/
.all-cards {
  /*box "carte" : 3 cards with names of the dishes*/
  width: 100%;
}

.menu__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.menu__card--text {
  /*title + composition + price*/
  width: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 0.8em;
  -webkit-box-shadow: #eaeaea 3px 3px 10px;
          box-shadow: #eaeaea 3px 3px 10px;
  position: relative;
  /*@include element-center();
        flex-direction: column;
        align-items: flex-start;*/
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 87% 13%;
      grid-template-columns: 87% 13%;
  /*2c et 2l*/
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__card--text h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  /*first column*/
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  /*first line*/
  padding-bottom: 0.3em;
}

.menu__card--text-detail {
  color: #353535;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  /*first column*/
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  /*second line*/
  font-size: 14.5px;
}

.menu__card--text-price {
  font-weight: bold;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  /*second column*/
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  /*second line*/
  padding-left: 10px;
}

.menu__card .menu__card--validation {
  display: none;
}

/* @use  "../utils/variables" as *;à rajouter*/
/*---------Icone heart : formatting*-----------/

/* description in _mixins.scss : @include heart-format();  */
/* @use  "../utils/variables" as *;à rajouter*/
/*---------Icone validation : formatting*-----------/
/*in mixing : @mixin validation-format*/
/*# sourceMappingURL=style.css.map */