/*MOBILE VERSION*/

/*--------- CARDS (page : "accueil")---------*/

/*PART OPERATION*/
.operation__card{
    @include element-center();
    justify-content: flex-start;
    width: 100%;
    padding: 1.5em 0.5em 1em 0.5em;
    margin-bottom: 1.5em;
    font-weight: bold;
    background-color: $color-grey1;
    border-radius: 1.2em;
    box-shadow: $color-grey5 3px 3px 10px;
    
    &--number{ /*number in a circle*/
        @include element-center();
        margin: 0 1.5em 0 -1.5em;

        background-color: $color-primary;
        border-radius: 20px;
        color: white;
        height: 25px;
        width: 25px;
        text-align: center;
        line-height: 25px;
        font-size: 14px;
        font-weight: normal;
       
    }

    i{ /*icones : mobile, list, shop*/
        margin-right: 1em;
        color: $color-grey3;
        font-size: 18px;
    }

    #icone-mobile{
        font-size: 19px
    }
}

/*PART RESTAURANTS*/
#restaurant__cards{
    width: 100%
}

.restaurant__card{
    
    @include element-center();
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
    box-shadow: $color-grey5 3px 3px 10px;
    
    a{
        height: 75%;
        width: 100%;
    }

    img{
        @include element-center();
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    &--text{ /* title + subtitle + icone heart*/
        display: grid;
        height: 25%;
        width: 100%;
        padding: 0.9em 0.9em 0.4em 0.9em;
        grid-template-columns: 90% 10%; /*2l et 2c*/
        grid-template-rows: 50% 50%;
    }

    h4{ /*title: restaurant's name*/
        grid-column: 1/2; /*first column*/
        grid-row: 1/2;  /*first line*/
        padding-bottom: 0.5em;
        font-weight: bold;
        font-size: 17px;
    }

    p{ /*subtites: localisation restaurant*/
        grid-column: 1/2; /*first column*/
        grid-row: 2/3;  /*second line*/
    }

    i{ /*icone heart*/
        grid-column: 2/3; /*second column*/
        grid-row: 1/2; /*first line*/
        @include heart-format ();    
    }
}

.new{ /*box "nouveau" on image*/
    position: absolute;
    top: 1.2em;
    right: 1.2em;
    background-color: $color-tertiary-light;
    color: $color-tertiary;
    padding: 0.5em 0.8em;
    font-weight: bold;
    font-size: 0.85em;
}





/*ADAPTATION I-PAD*/
@media (min-width:768px){

    #operation-cards{/*all 3 operation cards*/
        width: 60%;
        display: flex;       
    }

    #restaurants-cards{
        width: 100%;
    }

    .restaurant__card{
        margin-bottom: 4em;
        height: 300px;
        width: 86%;
        

        .new{
            font-size: large;
        }

        &--text{
            h4, p{
                font-size: large;
            }

            i{
                font-size: x-large;
            }
        }
    }
}


/*ADAPTATION COMPUTER*/
@media (min-width:1400px){

    #operation-cards{/*all 3 operation cards*/
        width: 92%;
        flex-direction: row;
        gap: 3%;    
    }

    .operation__card{
        &--number{ /*adaptation size circle*/
            font-size: x-large;
            height: 35px;
            width: 35px;
            margin:0 1.2em 0 -1.2em;
        }

        #icone-mobile{
            font-size: x-large;
        } 
    }

    #restaurants-cards{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3%;
    }

    .restaurant__card{
        width: 45%;
        font-size: x-large;
        margin-bottom: 3%;

        h4{
            font-size: x-large;
            padding-bottom: 0;
        }

        i{
            font-size: xx-large;
        }
    }
}







