/*MOBILE VERSION*/

/*BUTTON  (class for page "accueil" and <button> for page"menu") */
a.button, button{    
    position: relative;
    height: 50px;
    margin: 1em 0 3em 0;
    padding: 0 1.1em;
    background: linear-gradient($color-secondary, $color-primary);
    border: none;
    border-radius: 2em;
    box-shadow: $color-grey3 3px 3px 10px;    
    color: white;
    @include element-center();
    transition: box-shadow ease-in-out 400ms;
    
    

    &:hover, :active, :visited{ /*button lighter with larger shadow*/
        background: linear-gradient($color-secondary-light, $color-primary-light );
        box-shadow: $color-grey2 0 3px 3px 15px; 
        color: white;
    }
}

/*mobile version : adaptation BUTTON (page menu)*/

button{
    margin: 1.5em 0 2.7em 0;
    padding: 0 3em;    
}






/* ADAPTATION I-PAD*/

@media (min-width:768px){
    a.button, button{
        height: 60px;
        font-size: large;
        
    }
}

/* ADAPTATION COMPUTER*/

@media (min-width:1400px){
    a.button, button{
        height: 85px;
        font-size: x-large;
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }
}