/* @use  "../utils/variables" as */

/*--------- CARDS (page "menu") ---------*/


.all-cards{ /*box "carte" : 3 cards with names of the dishes*/
    width: 100%;
}

.menu__card{
    display: flex;
    margin-bottom: 1em;
    /*justify-content: space-between;*/
    

    &--text{ /*title + composition + price*/
        width: 100%;
        background-color: white;
        border-radius: 15px;
        padding: 0.8em;
        box-shadow: $color-grey5 3px 3px 10px;
    
        position: relative;
        overflow: hidden;
        

        display: grid;
        grid-template-columns: 87% 13%; /*2c et 2l*/
        grid-template-rows: 50% 50%;
        justify-items: start;
        align-items: center;

        h3{
            grid-column: 1/2; /*fisrt column*/
            grid-row: 1/2; /*first line*/
            padding-bottom: 0.3em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;


            &:hover{
                animation: all 400ms;
             
            }
        }
    
        &-detail{
            color: $color-grey4;
            grid-column: 1/2; /*first column*/
            grid-row: 2/3;  /*second line*/
            font-size: 14.5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover{

                animation: all 400ms;
            }
        }
    
        &-price{
    
            font-weight: bold;
            grid-column: 2/3; /*second column*/
            grid-row: 2/3;  /*second line*/
            padding-left: 10px;
            animation: all 400ms;

        }
        i{
            display: none;
        }
        
    }

        
}

/* ADAPTATION I-PAD*/
@media (min-width:768px){
    .menu__card{
        justify-content: center;
    
        &--text{ /*title + composition + price*/
            width: 80%;
            grid-template-columns: 90% 10%;
            font-size: larger; /*title h3*/

            &-detail{
                font-size: large;
            }

            &-price{
                font-size: large;
            }
        }                        
    }
}

/* ADAPTATION COMPUTER*/
@media (min-width:1400px){

    .menu__card--text{    
        width: 60%;
        grid-template-columns: 90% 10%;
        font-size: x-large;

        &-detail{
            font-size: x-large;
        }

        &-price{
            font-size: x-large;
        }
    }                   
}

