/*MOBILE VERSION*/

/*---------validation : formatting-----------*/
/*ICONE in _mixins.scss :
 @mixin validation-icone-format */


/*-------- box validation : animation----------*/


.menu__card--validation{ /*box validation*/

    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    border-radius: 0 15px 15px 0;
    height: 70px;
    background-color: $color-tertiary-light;
    opacity: 0;
    width: 0;
    transition: linear all 400ms;/*validation box animation return*/

    i{/*icone check*/
        display: flex;   
        @include validation-icone-format();                                  
    }
}


.menu__card:hover{
    border-radius: 15px;
    cursor: pointer;

    .menu__card--text{
        width: 80%;
        border-radius: 15px 0 0 15px;    
        transition: linear width 400ms;/* width progressive modification*/
        
        h3{
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

       .menu__card--text-detail{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 0;   
        }
    }

    .menu__card--validation{/*validation box*/
        opacity: 1;
        width: 20%;
        transition: linear width 400ms; /* width progressive modification*/
       
        i{/*icone check*/
        animation: elementRotation 1s both;                                
        }
    }
} 








/* ADAPTATION I-PAD*/
@media (min-width:768px){
    .menu__card--validation{        
        height: 85px;
    }  
    
    .menu__card:hover{
        .menu__card--validation{        
            height: 85px;
        } 
    }
}  


/* ADAPTATION COMPUTER*/
@media (min-width:992px){

    .menu__card--validation{        
        height: 104px;
    } 

    .menu__card:hover{
        .menu__card--validation{        
            height: 104px;
        } 
    } 
}