/*MOBILE VERSION*/

/*---------MENU progressive apparition*-----------*/

.section__menu--first{
    animation-name: dishVisuel;
    animation-duration: 500ms;
    animation-delay: 1s;
    animation-fill-mode: backwards;    
}

.section__menu--second{
    animation: dishVisuel 500ms 1.2s backwards;
}

.section__menu--third{
    animation: dishVisuel 500ms 1.4s backwards;
}

