/* @use  "../utils/variables" as *;à rajouter*/

/*--------- CARDS (page "menu") ---------*/


.all-cards{ /*box "carte" : 3 cards with names of the dishes*/
    width: 100%;
}

.menu__card{
    display: flex;
    margin-bottom: 1em;

    &--text{ /*title + composition + price*/
        width: 100%;
        background-color: white;
        border-radius: 15px;
        padding: 0.8em;
        box-shadow: $color-grey5 3px 3px 10px;
    
        position: relative;
        /*@include element-center();
        flex-direction: column;
        align-items: flex-start;*/

        display: grid;
        grid-template-columns: 87% 13%; /*2c et 2l*/
        grid-template-rows: 50% 50%;
        justify-items: start;
        align-items: center;

        h3{
            grid-column: 1/2; /*first column*/
            grid-row: 1/2; /*first line*/
            padding-bottom: 0.3em;
        }
    
        &-detail{
            color: $color-grey4;
            grid-column: 1/2; /*first column*/
            grid-row: 2/3;  /*second line*/
            font-size: 14.5px;
        }
    
        &-price{
    
            font-weight: bold;
            grid-column: 2/3; /*second column*/
            grid-row: 2/3;  /*second line*/
            padding-left: 10px;
        }
    }

    .menu__card--validation{
        display: none;

        &:hover, :focus{
            @mixin validation-format {
                display: grid;
            }
        }
    }
        
}

/* ADAPTATION I-PAD*/
@media (min-width:768px){
    .menu__card{
        justify-content: center;
    
        &--text{ /*title + composition + price*/
            width: 80%;
            grid-template-columns: 90% 10%;
            font-size: larger; /*title h3*/

            &-detail{
                font-size: large;
            }

            &-price{
                font-size: large;
            }
        }                        
    }
}

/* ADAPTATION COMPUTER*/
/*@media (min-width:1400px){

    .menu__card--text{    
        width: 60%;
        grid-template-columns: 95% 5%;
        font-size: 22px;

        &-detail{
            font-size: 20px;
        }

        &-price{
            font-size: 20px;
        }
    }                   
}*/

