/*MOBILE VERSION*/

/*-----Page "Accueil"progressive visualisation----*/

header, main, footer{
  
    animation: pageVisual 400ms 1s ease-in-out;  /*opacity 0 to 1*/
}

/*---------LOCALISATION PART---------*/

#localisation { /*localisation box*/
    @include element-center();
    background-color: $color-grey2;
    box-shadow: inset $color-grey3 0px 4px 4px -3px;
    height: 3em;

    i { /*icone map*/
        padding-left: 3em;
    }

    input{ /*localisation text*/
        background-color: $color-grey2;
        border: none;
        padding-left: 1em;
        font-weight: bold;    
    }
}


/*---------INFORMATION PART---------*/
#information { /*information box*/
    @include element-center(); 
    flex-direction: column;
    background-color: $color-grey1;
    padding: 1em 2.5em 0.5em 2.5em;


    h1 {
        text-align: center;
        margin: 1em 0 0.5em 0;
        font-weight: bold;
    }

    p {
        text-align: center;
        margin-bottom: 1em;
        color: $color-grey4;
        font-size: 17px;
    }   
}


/*---------BOX OPERATION + BOX RESTAURANTS---------*/

#operation-cards, #restaurants-cards{ 
    @include element-center();
    flex-direction: column;
    margin: 0 1.5em; 
}

#operation-cards{
    margin-left: 2.5em;
}

#purple{ /*icone store in purple*/
    color: $color-primary;
}


#restaurants-box { /*title + all restaurant-card*/
    background-color: $color-grey1;
    padding-top: 0.5em;
    padding-bottom: 3em;
    margin: 2em 0 0 0;
    display: flex;
    flex-direction: column;
}









/*ADAPTATION I-PAD*/
@media (min-width:768px){

    #localisation, #information, #operation-box, #restaurants-box, .operation__card, .operation__card--number, .operation__card i{
        font-size: large;
    }

    #operation-box, #restaurants-box{       
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            align-self: start;
        }
    }
}


/*ADAPTATION COMPUTER*/
@media (min-width:1400px){

    #localisation, #information, #operation-box, #restaurants-box, .operation__card, .operation__card--number, .operation__card i{
        font-size: x-large;

        p, input, i{
            font-size: x-large;
        }
    }

    #restaurants-box, #operation-box{ 
        h2{ /*titles "Fonctionnement" and "Restaurants"*/
            margin-left: 3.5%;
        }
    }
}
