/*@use "../utils/" as *;*/

#localisation {
    @include element-center();
    background-color: $color-grey2;
    /*box-shadow: à faire*/
    width: 100%;
    height: 3em;
}

#information {
    @include element-center($direction: column);
    background-color: $color-grey1;
    padding: 1em 3em;


    h1 {
        text-align: center;
        margin: 1em 0;
    }

    p {
        text-align: center;
    }
}