/*@use "../utils/" as *;*/
/*@use "../components/" as *;*/

.restaurant--image {  
    position: relative;
    display: flex;
    width: 100%;
    /*height: 220px;*/
    object-fit: cover;
}

.restaurant__text{ /*(TITLE + ICONE HEART)  + ALL BOXES */
    @include element-center();
    flex-direction: column;
    background-color: $color-grey1;
    position: relative;
    padding: 1em;
    width: 100%;
   

    &--title{ /*tITLE resto + iCONE HEART*/
        width: 100%;
        display: grid;
        grid-template-columns: 78% 22%;
        grid-template-rows: 100%;
        align-content: center;
        align-items: center;
        position:absolute;
        top: -40px;
        border-radius: 40px 40px 0 0;
        padding: 1em;
        background-color: $color-grey1;

        h1{
            justify-self: flex-start;
            font-family: Shrikhand;
            font-weight: 500;
            font-size: 28px;
            grid-column: 1/2;
            grid-row: 1/2;
        }

        i{
            
            @include heart-format ();
            grid-column: 2/3;
            grid-row: 1/3;
            
        }
    }
}

/*ENTREES*/

section{ /*BOX ENTREES" ou DISHES ou DESSERT */
    @include element-center();
    flex-direction: column;
    width: 100%;
   
    padding:  1em 0 0.5em 0;/*à verifier*/
    background-color: $color-grey1;

    #section__menuTitle--entree{
        margin: 30px 0 0 0; /* because title is top=-40px*/
    }
    
    h2{ /*BOX TITLE*/
        display: flex;
        margin: 0;
        align-self: start;/*à verifier*/
        color: $color-grey4;
        font-size: 16px;
        font-weight: normal;
    }

    hr{
        align-self: start;
        width: 40px;
        height: 5px;
        margin-bottom: 1em;
        border: none;
        border-bottom: 3px solid $color-tertiary-light;
    }
}





/* ADAPTATION I-PAD*/
@media (min-width:768px){
    .restaurant--image{
        height: 320px;
    }
    .restaurant__text--title{
        padding-left: 3%;
        padding-right: 3%;
        top: -60px;
        border-radius: 60px 60px 0 0;
    }

    .restaurant__text--title h1, .restaurant__text--title i{           
        /*name of resto + icone heart*/
        font-size: xx-large;        
    }

    section{
        padding-left: 2.2%;
        #section__menuTitle--entree{
            margin: 50px 0 0 0; /* because title is top=-40px*/
            font-size: large;
        }

        h2{
            font-size: large;
        }
    }
}

/* ADAPTATION COMPUTER*/
@media (min-width:1400px){
    .restaurant--image{
        height: 500px;
    }

    .restaurant__text--title h1, .restaurant__text--title i{           
         /*name of resto + icone heart*/
        font-size: 45px;   
    }

    section{
        #section__menuTitle--entree{
            margin: 80px 0 0 0; /* because title is top=-40px*/
            font-size: x-large;
        }

        h2 {
            font-size: x-large;
        }
    }
}
