/*@use "../utils/variables" as *;*/




/*-----loader disparition----*/

@keyframes loaderEnd{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        z-index: -1;
    }
}

/*-----loader rotation------*/
@keyframes elementRotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*-----Page "Accueil" progressive apparition-----*/
@keyframes pageVisuel{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*-----Page "Menu" : type of dishes: progressive apparition-----*/

@keyframes dishVisuel{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
