/*@use "../utils/variables" as *;*/

/*element position*/
@mixin element-center($direction: row, $wrap: nowrap, $justify: center, $align: center) {
    display: flex;
    flex-grow: $direction $wrap;
    justify-content: $justify;
    align-items: $align;
  
}

/* icone heart : formatting*/
@mixin heart-format(){
    justify-self: flex-end;
    align-self: center; /*vertical align*/
    font-size: 24px;
    margin-right: 0.5em;
    color: $color-grey3;

}

@mixin heart-animation(){
    color: transparent; /*pour remplacer le color de heart-format*/
    background-size: 100%;
    background-image: linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    -webkit-textfield-color: transparent;
    -moz-background-clip: text;
    -moz-textfield-color: transparent;
    transition: all ease-in-out 400ms;
    opacity: 0;
    
        &:hover{
            opacity: 1;
            
        }
}



/* icone validation : formatting*/
@mixin validation-icone-format(){

    color: $color-tertiary-light;
    background-color: white;
    border-radius: 20px;
    width: 20px;
    height: 20px;

}

@mixin validation-box(){
    background-color: $color-tertiary-light;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    /*width à rajouter?*/
    display: flex;
}