/*@use "../utils/variables" as *;
@use "../utils/keyframes" as *;*/

/*element position*/
@mixin element-center() {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* icone heart : formatting*/
@mixin heart-format(){
    justify-self: flex-end;
    align-self: center; /*vertical align*/
    font-size: 24px;
    margin-right: 0.5em;
    color: $color-grey3;
}

@mixin heart-animation(){
    color: transparent;
    background-image: linear-gradient($color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-textfield-color: transparent;
    transition: all 400ms;
    opacity: 1;
    cursor: pointer;
}



/* icone validation : formatting*/
@mixin validation-icone-format(){
    color: white;
    border-radius: 0 15px 15px 0;
    @include element-center();
    font-size: x-large;
}


    
