/*COLORS*/

$color-primary: #9356DC;

$color-secondary: #FF79DA;
$color-secondary-light: #fd8ce9;

$color-tertiary: #99E2D0;
$color-tertiary-light: #008766;

$color-grey1: #f6f6f6;
$color-grey2: #eaeaea;
$color-grey3: #7e7e7e;
$color-grey4: #353535;

/*BOX SHADOWS*/


