/*COLORS*/

$color-primary: #9356DC;
$color-primary-light: #b487eb;

$color-secondary:  #FF79DA;
$color-secondary-light: #fd8ce9;

$color-tertiary:#058a69;
$color-tertiary-light: #99E2D0;

$color-grey1: #f6f6f6;
$color-grey2: #eaeaea;
$color-grey3: #7e7e7e;
$color-grey4: #353535;
$color-grey5: #c9c7c7;/*shadows cards "accueil"

/*BOX SHADOWS*/


