
/*LOGO "ohmyfood"*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*position: relative;*/

    #accueil__header--img{
        position: relative;
        left: 0;
        top: 0;
        margin: 1em 0;
    }

    img{
        width: 160px;
        height: auto;
        position: absolute;
        left: 35%;
        top: 20px;        
    }

    
    a{
       
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.6em;
        color: $color-grey4;
        height: 50px;
        width: 100%;
        margin-bottom: 0.4em;
        padding-left: 1em;

        /*icone reverse arrow*/
        i{ /*a revoir*/
            
            height: 10px;
            font-size: 20px;
            position: absolute;
            

        }

    }

}

/* ADAPTATION I-PAD*/
@media (min-width:768px){
    header {    
        min-height: 80px;

        img{
            height: 50px;
            left: 40%;
            width: 25%;
            
        }

        a {
            margin-bottom: 1em;

            i{
            font-size: x-large;
            }
        }   

    }
}

/* ADAPTATION COMPUTER*/
@media (min-width:1400px){
    header {
        img{
            left: 38%;       
        }
    
        a {
            i{
            font-size: xx-large;
            padding-left: 2.5%;
            }
        } 
    }       
}