
/*LOGO "ohmyfood"*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        width: 160px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /*ajouter l'icone fleche? ou bien le lien des menus?*/
    a{
       
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.6em;
        color: $color-grey4;
        height: 50px;
        width: 100%;
        margin-bottom: 0.4em;
        padding-left: 1em;

        i{ /*a revoir*/
            
            height: 10px;
            margin-right: 20%;
            font-size: 20px;

        }

    }

}

/* ajout des media queries à faire*/